*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: arial;}


form{
	margin: 50px;
	border: 1px solid black;
	width: 40%;
	padding: 10px;
	padding-bottom: 50px;
	
	position: relative;
	label{
		margin-left: 2%;
	}
	input{
		position: absolute;
		left: 32%;
		}
	#roll{
		left: 70%;
		width: 20%;
		bottom:5%;
		height: 30px;
	}
}

.result{
	position: absolute;
	right: 10%;
	top: 50px;
	width: 40%;
	height: 100px;
	border: 1px solid black;
	font-family: arial;
	font-size: 30px;
	padding: 15px;
}


@media only screen and (max-width: 500px) {
	
	form{
		width: 80%;
		margin: 10%;
	}
	.result{
		position: static;
		width: 80%;
		margin: auto;
	}
	
}




